In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import date

In [41]:
data = pd.read_csv('Walmart_Store_sales (1).csv')

In [42]:
data.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

In [44]:
data.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [45]:
#which store has the maximum sales
data[data['Weekly_Sales'] == data['Weekly_Sales'].max()]

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
1905,14,24-12-2010,3818686.45,0,30.59,3.141,182.54459,8.724

In [ ]:
# Store with the highest standatd deviation and with coefficeint of variance

In [54]:
high_sd = pd.DataFrame(data.groupby('Store').agg({'Weekly_Sales':['std', 'mean']}))

In [62]:
high_sd = high_sd.reset_index()

In [66]:
high_sd['COV']= (high_sd[('Weekly_Sales','std')]/high_sd[('Weekly_Sales', 'mean')])*100

In [68]:
high_sd.loc[high_sd['Weekly_Sales','std'] == high_sd[('Weekly_Sales', 'std')].max()]

   Store   Weekly_Sales                      COV
                    std          mean
13    14  317569.949476  2.020978e+06  15.713674

In [74]:
data['Date'] = pd.to_datetime(data['Date'])

In [80]:
data['Date']

0      2010-05-02
1      2010-12-02
2      2010-02-19
3      2010-02-26
4      2010-05-03
          ...
6430   2012-09-28
6431   2012-05-10
6432   2012-12-10
6433   2012-10-19
6434   2012-10-26
Name: Date, Length: 6435, dtype: datetime64[ns]

In [89]:
Q3_start = pd.Timestamp(date(2012,7,1))

In [91]:
Q3_end = pd.Timestamp(date(2012,9,30))

In [94]:
Q2_start = pd.Timestamp(date(2012,4,1))

In [96]:
Q2_end = pd.Timestamp(date(2012,6,30))

In [98]:
# data of Q2
data_Q2 = data[(data['Date'] > Q2_start) & (data['Data']< Q2_end)]

In [100]:
data_Q3 = data[(data['Date'] > Q3_start) & (data['Data']< Q3_end)]

In [101]:
Q2 = pd.DataFrame(data_Q2.groupby('Store')['Weekly_Sales'].sum())

In [102]:
Q3 = pd.DataFrame(data_Q3.groupby('Store')['Weekly_Sales'].sum())

In [ ]:
# merging both data frames

In [103]:
Q2_Q3_data = Q2.merge(Q3, how = 'inner', on = 'Store')

In [106]:
Q2_Q3_data

       Weekly_Sales_x  Weekly_Sales_y
Store
1         21036965.58     18633209.98
2         25085123.61     22396867.61
3          5562668.16      4966495.93
4         28384185.16     25652119.35
5          4427262.21      3880621.88
6         20728970.16     18341221.11
7          7613593.92      7322393.92
8         11934275.61     10873860.34
9          7431320.13      6528239.56
10        23598433.93     21169356.45
11        17879095.77     16094363.07
12        13193365.04     11777508.50
13        26803225.55     24319994.35
14        24427769.06     20140430.40
15         7867952.23      6909374.37
16         6626133.44      6441311.11
17        12918892.02     11533998.38
18        13834706.08     12507521.72
19        18315278.56     16644341.31
20        27550180.62     24665938.11
21         9226279.62      8403507.99
22        13329065.39     11818544.33
23        18283424.90     17103654.36
24        17768191.98     16125999.86
25         9247467.19      8309440.44
26        13218289.66     12417575.35
27        22593640.73     20191238.11
28        16985999.95     15055659.67
29         7034493.19      6127862.07
30         5786335.45      5181974.44
31        18249155.35     16454328.46
32        15415236.21     14142164.84
33         3512138.05      3177072.43
34        12858027.98     11476258.98
35        10753570.97     10252122.68
36         4090378.90      3578123.58
37         6859777.96      6250524.08
38         5732362.70      5129297.64
39        20191585.63     18899955.17
40        12849747.45     11647661.37
41        17560035.88     16373588.44
42         7608247.31      6830839.86
43         8239792.67      7376726.03
44         4322555.33      4020486.01
45        10278900.05      8851242.32

In [105]:
#Now, finding the  growth rate by using the formula = (present - past) /past * 100

In [116]:
Q2_Q3_data['Growth_Rate'] = (Q2_Q3_data['Weekly_Sales_y'] - Q2_Q3_data['Weekly_Sales_x']) / Q2_Q3_data['Weekly_Sales_x']

In [117]:
Q2_Q3_data['Growth_Rate'] = round(Q2_Q3_data['Growth_Rate'], 2)

In [120]:
Q2_Q3_data.sort_values(by = 'Growth_Rate', ascending=False).head(1) # maximum growth rate of store 14

       Weekly_Sales_x  Weekly_Sales_y  Growth_Rate
Store
16         6626133.44      6441311.11        -0.03

In [122]:
Q2_Q3_data.sort_values(by = 'Growth_Rate', ascending=False).tail(1) # lowest growth rate

       Weekly_Sales_x  Weekly_Sales_y  Growth_Rate
Store
14        24427769.06      20140430.4        -0.18

In [124]:
data['Holiday_Flag'].value_counts()

0    5985
1     450
Name: Holiday_Flag, dtype: int64

In [137]:
Superbowl_day1 = pd.Timestamp(date(2010,2,12))
Superbowl_day2 = pd.Timestamp(date(2011, 2,11))
Superbowl_day3 = pd.Timestamp(date(2012, 2,10))
Superbowl_day4 = pd.Timestamp(date(2013, 2,8))

In [138]:
Labour_day1 = pd.Timestamp(date(2010,9,10))
Labour_day2 = pd.Timestamp(date(2011,9,9))
Labour_day3 = pd.Timestamp(date(2012,9,7))
Labour_day4 = pd.Timestamp(date(2013,9,6))

In [139]:
Thanksgiving_day1 = pd.Timestamp(date(2010, 11, 26))
Thanksgiving_day2 = pd.Timestamp(date(2010, 11, 25))
Thanksgiving_day3 = pd.Timestamp(date(2010, 11, 23))
Thanksgiving_day4 = pd.Timestamp(date(2010, 11, 29))

In [140]:
Christmas_day1 = pd.Timestamp(date(2010, 12, 31))
Christmas_day2 = pd.Timestamp(date(2010, 12, 30))
Christmas_day3 = pd.Timestamp(date(2010, 12, 28))
Christmas_day4 = pd.Timestamp(date(2010, 12, 27))

In [142]:
Superbowl_mean_sales = data[(data['Date'] == Superbowl_day1) | (data['Date'] == Superbowl_day2) |((data['Date'] == Superbowl_day3)|(data['Date'] == Superbowl_day4))]

In [147]:
Thanksgiving_mean_sales = data[(data['Date'] == Thanksgiving_day1) | (data['Date'] == Thanksgiving_day2) | (data['Date'] == Thanksgiving_day3) | (data['Date'] == Thanksgiving_day4)]

In [149]:
Christmas_mean_sales = data[(data['Date'] == Christmas_day1) | (data['Date'] == Christmas_day2) | (data['Date'] == Christmas_day3) | (data['Date'] == Christmas_day4)]

In [150]:
Labourday_mean_sales = data[(data['Date'] == Labour_day1) | (data['Date'] == Labour_day2) | (data['Date'] == Labour_day3) | (data['Date'] == Labour_day4)]

In [160]:
Total_sales = {'Superbowl_sales': [Superbowl_mean_sales['Weekly_Sales'].mean()], 
              'Thanksgiving_sales': [Thanksgiving_mean_sales['Weekly_Sales'].mean()],
              'Christmas_sales': [Christmas_mean_sales['Weekly_Sales'].mean()],
              'LAbour_sales': [Labourday_mean_sales['Weekly_Sales'].mean()],
              'Normalday_sales':data[data['Holiday_Flag'] == 0]['Weekly_Sales'].mean()}

In [161]:
Total_sales

{'Superbowl_sales': [nan],
 'Thanksgiving_sales': [1462688.9608888887],
 'Christmas_sales': [898500.4222222222],
 'LAbour_sales': [1039182.8339999999],
 'Normalday_sales': 1041256.3802088564}

In [ ]:
F# from above data, we can see that Thanksgiving has more average weekly sales than normal days